asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
django-crispy-forms==2.6
crispy-bootstrap5==2026.3
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
gunicorn==26.0.0
whitenoise==6.12.0
sqlparse==0.5.5
google-generativeai
psycopg2-binary==2.9.11
Pillow==12.2.0
cloudinary==1.44.1
